---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Uses">
  <h1 class="text-lg text-ctp-mauve mb-6">
    ░&nbsp; USES
  </h1>
  <div class="prose prose-terminal max-w-none">
    <h2>Editor</h2>
    <ul>
      <li>VS Code Insiders</li>
      <li>Occasionally Zed</li>
    </ul>

    <h2>Terminal</h2>
    <ul>
      <li>WezTerm</li>
      <li>Konsole</li>
    </ul>

    <h2>Hardware</h2>
    <ul>
      <li>OS: EndeavourOS</li>
      <li>DE: KDE Plasma 6.6.3</li>
      <li>Display 1: 3440x1440 BenQ EX3501R</li>
      <li>Display 2: 1440x2560 Gigabyte G27Q2</li>
      <li>CPU: AMD Ryzen 5 3600</li>
      <li>GPU: AMD RX 580 8GB</li>
      <li>RAM: 32GB</li>
    </ul>
  </div>
</BaseLayout>
